body {
    background: linear-gradient( rgba(999, 999, 999, 0.7), rgba(999, 999, 999, 0.7) ), url("../img/repeating-bg.jpg");
    background-size: 20%;
    background-repeat: repeat;
}

.fixed-fab {
    position: fixed;
    bottom: 0;
    right: 2%;
    border-radius: 50%;
    font-size: 15vh;
}